.navbar {
    box-sizing: border-box;
    background-color: white;
    margin: 10px 15%;
    display: flex;
    justify-content: space-between;
    position: sticky;
}

.navbar a {
    color: black;
    text-decoration: none;
}

.navbar_header {
    padding-left: 3rem;
    display: flex;
}

.navbar_header img {
    width: 53px;
    height: 53px;
    margin-top: auto;
    margin-bottom: auto;
}

.navbar_header span {
    box-sizing: border-box;
    margin: auto 0 auto 30px;
}

.navbar_link {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

.navbar_link ul {
    display: flex;

}

.navbar_link li {
    margin: 0 15px;
}

.navbar_contact {
    box-sizing: border-box;
    display: flex;
    width: 279px;
    height: 104px;
    background-color: rgb(255, 182, 6);
}

.navbar_contact span {
    margin: auto;
    font-size: 18px;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

.navbar_icon {
    font-size: 29px;

}